<link rel="shortcut icon" href="/brigadir/favicon.ico" type="image/gif" />
<link rel="stylesheet" href="/brigadir/fonts/fonts.css" type="text/css">
<link href="/brigadir/css/jquery.fancybox-1.3.4.css" media="screen" rel="stylesheet" type="text/css">
<link href="/brigadir/css/lightbox.css" media="screen" rel="stylesheet" type="text/css">
<link href="/brigadir/css/notifier.css" media="screen" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/brigadir/css/meanmenu.css" media="all" />
<link rel="stylesheet" href="/brigadir/css/swiper.min.css">
<link rel="stylesheet" href="/brigadir/css/pushy.css">
<link rel="stylesheet" href="/brigadir/css/style.css">
<link rel="stylesheet" href="/brigadir/css/style-mobile.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>