<script src="/brigadir/js/jquery.meanmenu.js"></script>
<script src="/brigadir/js/swiper.min.js"></script>
<script>
	jQuery(document).ready(function () {
	    jQuery('header nav').meanmenu();
	});
</script>
<script>
	var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 1,
        loop: true
	});
</script>
<script type="text/javascript" src="/brigadir/jslib/jquery.min.js"></script>
<script type="text/javascript" src="/brigadir/js/jquery.form.js"></script>
<script type="text/javascript" src="/brigadir/js/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/brigadir/js/scripts.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/brigadir/js/IE9.js"></script>
<script type="text/javascript" src="/brigadir/js/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="/brigadir/js/other/base64.js"></script>
<script type="text/javascript" src="/brigadir/js/other/tt.seo.js"></script>
<script type="text/javascript">
      var u = '/';
</script>
<script type="text/javascript" src="/brigadir/js/jquery.maskedinput-1.2.2.js"></script>
<script>
  jQuery(function($){
     $(".phone-mask").mask("(999) 999-99-99");
  });
</script>
<script src="/brigadir/js/modal.js"></script>
<script type="text/javascript" src="/brigadir/scripts/retina.js"></script>
<script src="/brigadir/js/pushy.min.js"></script>
<script src="/brigadir/js/js.js"></script>