<?
    $hr_class_ar = [1];
    $hr_class_ar_2 = [89];
    $hr_class_ar_3 = [83];
    $hr_class_ar_4 = [100];
    $hr_class_ar_5 = [116];
    
    if (in_array($sub, $hr_class_ar)) {
        $hr_class = "hr-before-about";
    } else if (in_array($sub, $hr_class_ar_2)) {
        $hr_class = "hr-before-about-2";
    } else if (in_array($sub, $hr_class_ar_3)) {
        $hr_class = "hr-before-about-3";
    } else if (in_array($sub, $hr_class_ar_4)) {
        $hr_class = "hr-before-about-4";
    } else if (in_array($sub, $hr_class_ar_5)) {
        $hr_class = "hr-before-about-5";
    } else {
        $hr_class = "hr-before-about-1";
    }
?>
<div class="mobile">
    <div class="block1 main js_1 bb<? if ($sub == 83): ?> reviews-cnt<? endif; ?>">
        <div class="clearfix"></div>
    </div>
<? if($sub_level_count > 0) {?>
    <div class="table_js_in"></div>
<? }else{ ?>
    <div class="directions js_2">
        <div class="clearfix"></div>
    </div>
<? } ?>
   
    <hr class="<?= $hr_class ?>">
    <div class="about-us js_3">
        <div class="clearfix"></div>
    </div>

    <div class="note js_4">
        <div class="clearfix"></div>
    </div>

    <div class="important-moments js_5">
        <div class="clearfix"></div>
    </div>

<? if ($sub != 100): ?>
    <div class="news js_6">
        <div class="clearfix"></div>
    </div>
<? endif; ?>
    <div class="questions">
        <div id="call"></div>
        <div class="head white">есть вопросы?</div>
        <p>Оставьте свой номер телефона, и мы перезвоним!</p>
        <input type="" name="" placeholder="Имя">
        <input type="" name="" class="phone-mask" placeholder="Номер телефона">
        <div class="question-button">заказать звонок</div>
        <div class="clearfix"></div>
        <p class="send-info">Нажимая «Заказать звонок», вы соглашаетесь с правилами <a class="empty" href="/about/agreement/">обработки персональных данных.</a></p>

        <div class="clearfix"></div>
    </div>

    <div class="footer">
        <p>Цены, указанные на сайте, не являются публичной офертой, определяемой ст. 437 ГК РФ</p>
        <p>Бригадир © 2007-2017</p>
    </div>

    <div id="question" class="modal">

        <div class="modal-content">
            <p class="popup-send">
                Спасибо за обращение.<br>
                <span>Консультант свяжется с вами в течение 10-15 минут.</span>
            </p>
            <div class="clearfix"></div>

        </div>

    </div>
</div>