<div class="mobile">
    <div class="block1 main js_1 bb">
        <div class="clearfix"></div>
    </div>
<? if($sub_level_count > 0) {?>
    <div class="table_js_in"></div>
<? }else{ ?>
    <div class="directions js_2">
        <div class="clearfix"></div>
    </div>
<? } ?>
   
    <div class="about-us js_3">
        <div class="clearfix"></div>
    </div>

    <div class="note js_4">
        <div class="clearfix"></div>
    </div>

    <div class="important-moments js_5">
        <div class="clearfix"></div>
    </div>

    <div class="news js_6">
        <div class="clearfix"></div>
    </div>
    <div class="questions">
        <div id="call"></div>
        <div class="head white">есть вопросы?</div>
        <p>Оставьте свой номер телефона, и мы перезвоним!</p>
        <input type="" name="" placeholder="Имя">
        <input type="" name="" class="phone-mask" placeholder="Номер телефона">
        <div class="question-button">заказать звонок</div>
        <div class="clearfix"></div>
        <p class="send-info">Нажимая «Заказать звонок», вы соглашаетесь с правилами <a class="empty" href="empty.html">обработки персональных данных.</a></p>

        <div class="clearfix"></div>
    </div>

    <div class="footer">
        <p>Цены, указанные на сайте, не являются публичной офертой, определяемой ст. 437 ГК РФ</p>
        <p>Бригадир © 2007-2017</p>
    </div>

    <div id="question" class="modal">

        <div class="modal-content">
            <p class="popup-send">
                Спасибо за обращение.<br>
                <span>Консультант свяжется с вами в течение 10-15 минут.</span>
            </p>
            <div class="clearfix"></div>

        </div>

    </div>
</div>