                    <div class="important-moments js_5_bl<? if ($sub == 100 || $sub == 83 || $sub == 116 || $sub == 89 || $sub == 92 || $sub == 93 || $sub == 94 || $sub == 95 || $sub == 96 || $sub == 224 || $sub == 159): ?> d-hid<? endif; ?>">
                        <div class="none">ВАЖНЫЕ МОМЕНТЫ</div>
                        <a href="/about/advantage/" class="imb">
                          <img src="/brigadir/images/desctop/important1.svg" data-src="/brigadir/images/important1.svg">
                          <p class="none">наши<br>преимущества</p>
                      </a>

                      <a href="/about/cooperation/" class="imb">
                          <img src="/brigadir/images/desctop/important2.svg" data-src="/brigadir/images/important2.svg">
                          <p class="none">процедура<br>заказа</p>
                      </a>

                      <a href="/about/equipment/" class="imb">
                          <img src="/brigadir/images/desctop/important3.svg" data-src="/brigadir/images/important3.svg">
                          <p class="none">инструменты<br>и материалы</p>
                      </a>
                  </div>