<div class="plashka js_3_bl">
<div class="head none">О нас</div>
	<div class="short-info">
		<div class="col">
			<img src="/brigadir/images/about1.svg">
			<p>Бесплатный<br>выезд</p>
		</div>
	<div class="col">
		<img src="/brigadir/images/about2.svg">
		<p>Русские<br>мастера</p>
	</div>
	<div class="col">
		<img src="/brigadir/images/about3.svg">
		<p>Физлица<br>и юрлица</p>
	</div>
	<div class="col">
		<img src="/brigadir/images/about4.svg">
		<p>Оплата<br>по факту</p>
	</div>
	<div class="col">
		<img src="/brigadir/images/about5.svg">
		<p>Договор<br>и гарантия</p>
	</div>
    <div class="col none">
        <a href="reviews.html">
            <img src="/brigadir/images/about6.svg">
            <div class="clearfix"></div>
            <p>Отзывы<br>клиентов</p>
        </a>
    </div>
	<div class="clearfix"></div>
	</div>
</div>