<?
// Подготовка меню "Услуги"
$items = db_simple(db_arr, "
    select a.Sub_ID as LinkedTo, b.Sub_ID, b.Anchor, c.Hidden_URL, c.Subdivision_Name
    from Message201 a inner join Message200 b on (a.Message_ID = b.Menu_ID)
        inner join Subdivision c on (b.Sub_ID = c.Subdivision_ID)
    where a.Checked = 1 and b.Checked = 1 and c.Checked = 1
    order by b.Menu_ID, b.Priority
");
foreach($items as $item) {
    $menu_data[intval($item['LinkedTo'])][] = $item;
}

$s = '';
$smenu = $current_sub['RightBlock'];
foreach($parent_sub_tree as $level=>$row) {
    $subid = intval($row['Subdivision_ID']);
    if ($menu_data[$subid]) {
        $s .= "<ul>\n";
        foreach($menu_data[$subid] as $item) {
            $s .= "<li><a href=\"{$item['Hidden_URL']}\">".opt_case($item['Anchor'], $item['Anchor'], $item['Subdivision_Name'])."</a></li>\n";
        }
    }
}
if ($s) {
    $smenu = $s;
}
?>
<? if($tpl == 'index' && !in_array($sub, array(2, 106, 108, 233, 186))) :?>
    <?= $this->partial('Moments') ;?>
<? endif ?>

<? if ($tpl == 'inside' && in_array($sub, [116, 92, 93, 94, 95, 96, 224, 159])): ?>
    <?= $this->partial('Moments'); ?>
<? endif; ?>
<div class="clr"></div>
    </div> <? // End content ;?>
    <div class="clr"></div>
    </div> <? // End main_resize ;?>
<? if($tpl == 'index' && $sub != 83) :?>
          <div class="sidebar fr">
	<? if($current_sub['RightBlock'] && !$current_sub['ServiceMenuOff']) :?>
              <div class="gadget" id="service_menu">
                  <div class='h2'>Услуги</div>
                  <div class="list_line">
                  <?= highlite_current_link($smenu, $current_sub['Hidden_URL']) ;?>
                  </div>
              </div>
	<? endif ?>
	<? if($sub != 83) :?>
				  <div class="gadget js_4_bl">
					  <div class='h2'>На заметку</div>
		<?= nc_objects_list(1, 212) ;?>
				  </div>
	<? endif ?>
          </div>
<? endif ?>
<? if ($tpl == 'inside' && in_array($sub, [116, 92, 93, 94, 95, 96, 224, 159])): ?>
    <div class="gadget js_4_bl d-hid">
      <div class='h2'>На заметку</div>
      <?= nc_objects_list(1, 212) ;?>
  </div>
<? endif; ?>
<? if ($tpl == 'index' && in_array($sub, [83])): ?>
    <div class="gadget js_4_bl d-hid">
      <div class='h2'>На заметку</div>
      <?= nc_objects_list(1, 212) ;?>
  </div>
<? endif; ?>
          <div class="clr"></div>
          </div>
<? if($sub != 83) :?>
          </div>
<? endif ?>
    </div> <? // End main ;?>
<?= $this->partial('FooterDesktop') ;?>

<div class="oinfo">
    <a href='/reviews/'><img src='/brigadir/img/rewiu_1.svg' /></a>
</div>

<?= $this->partial('Popup') ;?>

</div><? // Desktop ?>

<?= $this->partial('MobileBlocks') ;?>
<?= $this->partial('FooterScripts') ;?>

</body>
</html>